
/* AREA DEL HEADER */

.logo{
    height: 50px;
}
.navbarmod{
    border-bottom: 5px solid #49408e;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.container-fluidmod{
    margin: 0px 40px;
    justify-content: space-between;
}

/* AREA DEL BANNER */

.main-banner{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    background-image: url(../assets/img/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner-text{
    color: white;
}
.banner-text p{
    text-align: justify;
    margin-bottom: 80px;
}
.banner-text h1{
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px){
    .main-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .banner-text{
        text-align: center;
    }
}

/*  AREA DE TESTIMONIOS */

.testimonios{
    background-color: #49408e !important;
}

/*  BLOQUE DOS */

@media screen and (max-width: 768px){
    .blog{
       display: none; 
    }
}

/* CONTACTO */

.contacto{
    background-image: url(../assets/img/main-banner.jpg) !important;
    background-position: bottom;
    background-attachment: fixed;
}
@media screen and (max-width: 568px;){
    .registro{
        padding: 0% !important;
    }
    
}

/* FOOTER */

footer{
    border-top: 5px solid #F46036
}
footer i:hover{
    color: #49408e;
    cursor: pointer;
}
.btn{
    background-color: #49408e !important;
    width: auto;
}

/* PÁGINA DEL FAQ */

.faq{
    height: 100vh;
    background-image: url(../assets/img/main-banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
@media screen and (max-width: 768px){
    .faq{
        height: auto;
        width: auto;
    }
    .faq h1{
        margin-top: 120px !important;
        font-size: 22px !important;
    }
}

/* PAGINA DE GALERÍA */

.galeria{
    height: auto;
}
.galeria2{
    width: auto;
}

.galeria-banner{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-image: url(../assets/img/cam1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
@media screen and (max-width: 568px){
    .galeria2{
        padding: 0 !important;
        width: 100%;
        margin: 0 auto;
    }
    .galeria2 img{
        height: 250px !important;
        padding: 0;
    }
}




/* PÁGINA DE REGISTRO */

.registro{
    height: auto;
    background-image: url(../assets/img/cam2.jpg) !important;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}