@import"./base/variables";
@import"./base/extend";
@import"./base/maps";
@import"./base/mixin";
@import"./complements/header";
@import"./complements/banners";
@import"./complements/footer";


body{
    font-family: 'Roboto', sans-serif;
}
.btn-primary{
    background-color: map-get($botones, bg-color) !important;
    padding: map-get($botones, padding );
    border: map-get($botones, border );
}
.card-enc{
    background-color: $cl-primario !important;
}
.testimonios{
    background-color: $cl-secundario !important;
    .img-bloque{
        @extend %img-size;
    }
}
.bloqueuno{
    background-color: #645e9d;
}
.contacto{
    background-image: url(../assets/img/main-banner.png);
    @include banners-bg;
    height: auto;
}
@media screen and (max-width: 1024px){
    .galeria{
        display: none;
    }
}
