.main-banner{
    height: 100vh;
    background-image: url(../../assets/img/main-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}