.navbarmod{
    width: 100% !important;
    position: fixed;
    z-index: 5;
    background-color: $cl-primario !important;
    .logo{
        height: 70px;
    }
    @media screen and (max-width: 380px){
        .logo{
            height: 60px;
        }
    }
}
